$Color_purplegray:  white;

$Color_purple: #6C5DD3;
$Color_grayblur: black;
$Color_BlackHaze: black;

$Header : black;
$SideBar_body: white;
$BG_Product:  linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$Background_main: #f0f0f0;

$Color_text: #808191;
$Text_Product: black;
