@use './variables';

.Account {
    padding: 70px 100px 20px;

    .avatar {
        width: 0;
    }

    .label-avatar {
        cursor: pointer;
        position: absolute;
        width: 100%;
        border-radius: 100%;
        top: calc(50% - 35px);
        background: #0000002b;
        height: 100%;

        img {
            object-fit: contain;
        }
    }

    &-name {
        background: none;
        border: none;
    }

    &-wrap {
        background: white;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 0 20px gray;
    }

    &-tittle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid gray;

        &-left {
            display: flex;
            gap: 15px;
        }

        h2 {
            cursor: pointer;
            font-size: 17px;
            margin-top: 20px;
            padding: 5px 10px;
            border-radius: 40px;
        }
    }

    &-ItemInfor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;

        h3 {
            font-size: 16px;
        }

        * {
            font-size: 14px;
        }

    }

    &-btn {
        border: 1px solid gray;
        padding: 8px 20px;
        border-radius: 50px;
    }

    &-btn-update {
        display: flex;
        gap: 10px;

        * {
            background: none;
            padding: 10px 20px;
            border-radius: 50px;
        }

        .save {
            border: 1px solid #1a8917;
            color: #1a8917;
        }

        .cancel {
            border: 1px solid rgba(0, 0, 0, .15);
            color: rgba(0, 0, 0, .54);
        }

        .cancel:hover {
            border-color: rgba(0, 0, 0, .54);
        }
    }

    &-left {
        flex: .8;

        input {
            width: 100%;
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    &-wrapimg {
        display: flex;

        &-img {
            position: relative;
            cursor: pointer;
            height: 70px;
            width: 70px;
            margin-left: 200px;

            img {
                object-fit: cover;
                border-radius: 100%;
                height: 100%;
            }
        }
    }
}
.settingAccModal{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 10px;
    padding: 10px;
    .close-s{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1024px) {
    .Account {
        &-wrapimg-img {
            height: 37px;
            width: auto;
            margin-left: 25px;
        }

        .label-avatar {
            top: calc(50% - 19px);
        }
    }
}

@media screen and (max-width: 768px) {
    .Account {
        padding: 70px 20px 20px;

        &-left {
            flex: 1 1;
        }

        &-wrapimg {
            gap: 10px;
            &-img {
                margin-left: 0;
            }
        }

    }
}
@media screen and (max-width: 426px) {
    .Account {
        padding: 70px 9px 20px;
        &-wrap{
            padding: 25px;
        }
        &-wrapimg{
            flex-direction: column;
            align-items: center;
        }
        &-tittle{
            h2{
                font-size: 14px;
                padding: 8px 10px;
            }
        }

    }
}
@media screen and (max-width: 376px) {
    .Account {
        &-wrap{
            padding: 15px;
        }
        &-wrapimg{
            flex-direction: column;
            align-items: center;
        }
        &-tittle{
            font-size: 11px;
            gap: 10px;
            h2{
                font-size: 14px;
                padding: 8px 10px;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 321px) {
    .Account {
        &-wrap{
            padding: 15px;
        }
        &-wrapimg{
            flex-direction: column;
            align-items: center;
        }
        &-tittle{
            gap: 10px;
            &-left{
                gap: 9px;
                padding: 8px 10px;
                margin: 0;
            }
            h2{
                font-size: 11px;
                padding: 8px 4px;
            }
        }
    }
}