@use './variables';



.Cart {
    &-modal{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        top: 50%;
        right: calc(50% - 50px);
        width: 250px;
        height: 100px;
        border-radius: 10px;
        background: rgba(0,0,0,.65);
    }
    &-empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin: 10px 0 20px;
        }
    }
    &-img{
        width: 16%;
    }
    &-wrap {
        padding: 100px 100px 20px;
        background: variables.$BG_Product;
    }
    &-footer{
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        margin-top: 20px;
        padding: 20px 30px;
        width: 100%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 20px gray;
        display: flex;
        justify-content: space-between;
        
        .footer-del{
            background: none;
            margin-left: 30px;
            font-size: 17px;
        }
    }
    &-buy{
        font-size: 17px;
        background: #c92127;
        color: white;
        padding: 10px 40px;
        border-radius: 5px;
    }
    &-right{
        display: flex;
        gap: 100px;
        &-wrap{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    &-header {
        background: white;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px gray;
        display: flex;
        justify-content: space-between;
    }

    &-btn {
        display: flex;
        align-items: center;

        input {
            margin-right: 15px;
        }
    }

    &-tittle {
        display: flex;
        gap: 90px;
    }

    &-Products {
        background: white;
        margin-top: 20px;
        padding: 20px 16px;
        border-radius: 10px;
        box-shadow: 0 0 20px gray;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-item {
        display: grid;
        align-items: center;
        grid-template-columns: 1% 57% auto;
        padding: 10px;
        border: 1px solid gray;

    }

    &-itemDes {
        display: flex;
        align-items: center;
    }

    &-itemImg {
        width: 8%;
    }

    &-itemWrap {
        display: grid;
        grid-template-columns: 12% 19% 18% 8%;
        grid-gap: 72px;
        button{
            background: none;
            border: none;
            cursor: pointer;
        }
    }
    &-inp{
        display: flex;
        input{
            width: 70%;
        }
    }
    &-label{
        padding: 5px 8px;
        background: rgba(128, 128, 128, 0.27);
    }

}

@media screen and (max-width: 1024px) {
    .Cart{
        &-item{
         grid-template-columns: 2% 29% auto;
        }
        &-itemImg{
         width: 23%;
        }
        &-itemWrap{
         grid-template-columns: 10% 26% 18% 5%;
        }
        &-buy{
         padding: 7px 19px;
        }
    }
 }
 @media screen and (max-width: 768px) {
    .Cart{
        &-wrap{
         padding: 100px 25px 20px;
        }
        &-item,&-header{
         font-size: 14px;
         grid-template-columns: 2% 29% auto;
        }
        &-itemWrap{
         grid-template-columns: 7% 17% 18% 5%;
        }
        &-itemImg{
         width: 23%;
        }
        &-buy{
         padding: 7px 19px;
        }
        &-footer{
            font-size: 14px;
        }
        &-right{
            gap: 50px;
        }
        .footer-del{
            margin-left: 22px;
        }
    }
 }
 @media screen and (max-width: 426px) {
    .Cart{
        &-wrap{
         padding: 100px 10px 20px;
        }
        &-tittle{
            gap: 10px;
        }
        &-item,&-header{
         font-size: 13px;
         grid-template-columns: max-content .5fr 1fr;
        }
        &-itemWrap{
            gap: 17px;
            grid-template-columns: max-content 17% max-content max-content;
        }
        &-itemImg{
         width: 40%;
        }
        &-label{
            display: none;
        }
        &-buy{
         padding: 7px 19px;
        }
        &-footer{
            font-size: 14px;
        }
        &-btn,&-right{
            flex: 1;
        }
        &-btn{
            gap: 5px;
            input{
                margin: 0;
            }
            .footer-del{
                margin-left: 0;
            }
        }
        &-right{
            
            gap: 20px;
            flex-direction: column;
        }
        
    }
 }
 @media screen and (max-width: 426px) {
    .Cart{
        &-wrap{
         padding: 100px 5px 20px;
        }
        &-itemWrap{
            gap: 13px;
        }
        &-itemDes{
            flex-direction: column;
        }
        &-header{
            padding: 20px 10px;
        }
       &-footer{
           font-size: 13px;
           .footer-del{
            font-size: 15px;
        }
       }
    }
 }
 @media screen and (max-width: 321px) {
    .Cart{
        &-Products{
            padding: 20px 5px;
        }
        &-item{
            font-size: 11px;
        }
        &-itemWrap{
            align-items: center;
        }
        &-header{
            font-size: 11px;
        }
       &-footer{
           font-size: 12px;
           gap: 10px;
           padding: 20px 10px;
       }
    }
 }