Header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 75px;
  background: black;
  display: grid;
  justify-items: end;
  grid-template-columns: 11% 29% auto auto auto;
  grid-column-gap: 102px;
  padding: 0 100px;
  grid-auto-rows: 100%;
  align-items: center;
}
Header .Avatar {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
}
Header .Avatar img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
Header .Avatar-menu {
  width: 200px;
  right: 0;
  padding: 35px 21px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
  font-size: 17px;
}
Header .Avatar-menu * {
  transition: 0.5s;
  color: #666666;
  margin: 20px 0;
  width: 100%;
  display: block;
}
Header .Avatar-menu *:hover {
  cursor: pointer;
  color: #6C5DD3;
}
Header .Avatar img {
  border-radius: 50%;
}
Header .log_sign {
  color: white;
  display: flex;
  gap: 20px;
}
Header .log_sign .l-s {
  padding: 7px 20px;
  border-radius: 50px;
}
Header .log_sign .signup {
  border: 2px solid white;
}
Header .log_sign .login {
  background-color: #6C5DD3;
  border: 2px solid #6C5DD3;
}
Header .logo {
  display: flex;
  align-items: center;
  color: white;
}
Header .logo .img {
  flex: 1;
}
Header nav {
  display: flex;
  gap: 25px;
  justify-content: space-around;
}
Header nav a:hover {
  color: #6C5DD3;
  transition: all 0.25s;
}
Header .Log_icon:hover + .log {
  transform: translateX(42px);
  opacity: 1;
  visibility: visible;
}

.Search {
  margin-left: 100px;
  position: relative;
}

.Search__icon {
  font-size: 20px;
  color: #808191;
}

.Search__Output {
  position: absolute;
  width: 400px;
  top: 135%;
  max-height: 250px;
  border-radius: 20px;
  padding: 15px;
  overflow: auto;
  background-color: white;
  box-shadow: 0 0 15px gray;
}
.Search__Output .Item {
  display: flex;
  font-size: 0;
  color: black;
  max-height: 63px;
  font-size: 14px;
  border-radius: 15px;
  box-sizing: content-box;
  padding: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.Search__Output .Item .img {
  display: flex;
}
.Search__Output .Item .img img {
  border-radius: 50%;
}
.Search__Output .Item .details {
  max-width: 80%;
  min-width: 80%;
  padding-left: 10px;
}
.Search__Output .Item .details .name {
  overflow: hidden;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Search__Output .Item .details .des {
  overflow: hidden;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
}
.Search__Output .Item:hover {
  background-color: #d5d5d5b3;
}
.Search__Output::-webkit-scrollbar {
  width: 0;
}

.Search__inp {
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  background: black;
  color: white;
}

.icon {
  color: #808191;
  font-size: 25px;
}

.Cart {
  position: relative;
}
.Cart-total {
  position: absolute;
  top: -12px;
  right: -13px;
  background: red;
  padding: 1px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.SideBar {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 256px;
  border-right: 1px solid rgba(128, 128, 128, 0.404);
}

.SideBarTop {
  padding: 50px;
  position: absolute;
  background-color: white;
  top: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}
.SideBarTop .wrap {
  display: flex;
  color: white;
  justify-content: space-around;
  cursor: pointer;
}
.SideBarTop .wrap:visited {
  color: white;
}

.SideBarWrap {
  max-height: 100%;
  padding: 136px 0 81px 0;
  overflow: auto;
}
.SideBarWrap .Wrap {
  color: #808191;
  font-weight: 500;
  padding: 0 20px;
}
.SideBarWrap::-webkit-scrollbar {
  width: 0;
}

.SideBarBottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  width: 100%;
  background-color: white;
}
.SideBarBottom__icon {
  font-size: 25px;
  color: #808191;
}

footer {
  background: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  padding: 20px 100px 70px;
}
footer .wrap {
  display: flex;
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
  background: white;
  padding: 52px;
}
footer .left {
  flex: 0.4;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #4e4e4e70;
}
footer .right {
  flex: 1;
  margin-left: 20px;
}

.left-img {
  width: 25%;
}
.left-address {
  margin: 31px 0;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}
.left-social {
  display: flex;
  font-size: 23px;
  color: gray;
  gap: 20px;
}
.left-social i {
  cursor: pointer;
}
.left-social .fb:hover {
  color: #6c83f5;
}
.left-social .gh:hover {
  color: black;
}
.left-social .ytb:hover {
  color: red;
}

.right-grcol {
  display: flex;
  justify-content: space-between;
}
.right-tittle {
  font-size: 18px;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}
.right-infor p {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  color: black;
}
.right-address {
  display: flex;
  gap: 120px;
  font-size: 14px;
  font-weight: 100;
}
.right-wrap {
  display: flex;
}
.right-wrap p {
  margin-left: 10px;
}
.right-cooperator {
  display: grid;
  grid-template-columns: 11% 15% 6%;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  grid-gap: 30px;
}

main {
  position: relative;
  padding: 75px 0 0 0;
  background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.Banner {
  overflow: hidden;
  position: relative;
  font-size: 0;
}
.Banner__Slide {
  display: flex;
  transition: all 0.25s;
}
.Banner__SubSlide {
  position: absolute;
  width: 20%;
  bottom: 50px;
  right: 50px;
}

.Slide__Details {
  min-width: 100%;
  position: relative;
}
.Slide__Details .warp {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  background-color: rgba(48, 47, 47, 0.35);
}
.Slide__Details .warp .detail {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 150px 0 0 50px;
}
.Slide__Details .warp .detail .genre {
  margin-top: 10px;
  font-size: 14px;
}
.Slide__Details .warp .detail .link {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 15px;
  margin-top: 60px;
  padding: 10px 0;
  border-radius: 5px;
  width: 22%;
  background: #6C5DD3;
}
.Slide__Details img {
  min-width: 100%;
  max-height: 420px;
  object-fit: cover;
}

.SubSlide__Wrap {
  display: flex;
  position: relative;
}
.SubSlide__Wrap .Wrap__img {
  width: 33.3333333333%;
  display: flex;
}
.SubSlide__Wrap .Wrap__img + .Wrap__img {
  margin-left: 10px;
}
.SubSlide__Wrap img {
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}
.SubSlide__arrow {
  position: absolute;
  top: calc(50% - 16px);
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  color: #6C5DD3;
  cursor: pointer;
}
.SubSlide__arrow .left {
  transform: translateX(-23px);
}
.SubSlide__arrow .right {
  transform: translateX(23px);
}

.Img_shadow {
  border-radius: 15px;
  box-shadow: 0 0 6px 2px #ffffff;
}

.Products {
  padding: 70px 100px 20px;
  background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  overflow: hidden;
}
.Products-Toast {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.23);
  display: flex;
}
.Products-Toast .wrap {
  position: relative;
  margin: auto;
  width: 30%;
  height: 19%;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}
.Products-Toast .wrap p {
  color: white;
  margin-top: 10px;
  font-weight: 700;
}
.Products__List {
  display: grid;
  position: relative;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-radius: 6px;
  padding-bottom: 50px;
  background: white;
  box-shadow: 0 0 20px gray;
}
.Products__List .Rote {
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.Products__List .Item {
  margin: 30px 30px 0;
  font-size: 0;
  background: white;
  border: 1px solid gray;
  padding: 10px;
  color: black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Products__List .Item .img {
  perspective: 600px;
}
.Products__List .Item .img img {
  border-radius: 17px 17px 0 0;
  backface-visibility: hidden;
}
.Products__List .Item .details {
  color: black;
  padding: 20px 10px 10px;
}
.Products__List .Item .details-add {
  text-align: center;
  font-size: 23px;
  margin-top: 11px;
}
.Products__List .Item .details-add svg:hover {
  transform: scale(1.1);
  color: red;
  cursor: pointer;
}
.Products__List .Item .details__name {
  font-size: 15px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.Products__List .Item .details__genre {
  font-weight: 100;
  font-size: 12px;
}
.Products__List .Item .price {
  padding: 0 0 0 10px;
  font-size: 20px;
  color: red;
  font-weight: 500;
}
.Products__List .Item:hover {
  border: 1px solid red;
}
.Products-select {
  display: flex;
  margin-bottom: 30px;
}
.Products-Item {
  background: #996fce;
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
  transition: all 0.5s;
}
.Products-Item:hover {
  background: #6c5dd3;
}
.Products-Genres {
  position: relative;
}
.Products-ListGenres {
  position: absolute;
  background: white;
  z-index: 1;
  width: 400px;
  top: 150%;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}
.Products-ListGenres * {
  color: black;
}
.Products-ItemGenres ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.Products-ItemGenres ul a {
  padding: 9px 3px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}
.Products-ItemGenres ul a:hover {
  color: white;
  background: #808080b0;
}
.Products-TittleGenres {
  cursor: pointer;
  font-weight: 600;
}
.Products-pag {
  margin-top: 30px;
  grid-column: 1/6;
}
.Products-pagList {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.Products-pagItem {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.Product {
  display: flex;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  background: white;
  color: black;
  position: relative;
}
.Product-Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.46);
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.Product-Modal p {
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.Product-img {
  flex: 0.8 1 0%;
}
.Product-img .img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.Product-btnCart {
  display: flex;
  justify-content: space-between;
}
.Product-btnCart * {
  font-size: 14px;
  width: 49%;
  padding: 10px;
  border-radius: 6px;
  font-weight: 800;
}
.Product-btnCart .Add {
  background: transparent;
  border: 2px solid #c92127;
  color: #c92127;
}
.Product-btnCart .Buy {
  background: #c92127;
  color: white;
}
.Product-detail {
  flex: 2;
}
.Product-wrap {
  display: flex;
  align-items: center;
}
.Product-tittle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.Product-infor {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 0;
}
.Product-price {
  font-size: 25px;
  color: #c92127;
  font-weight: 600;
}
.Product-qty {
  width: 88%;
  display: flex;
  padding: 0px 16px;
}
.Product-count {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.Product-count input {
  width: 6%;
}
.Product-count label {
  color: gray;
  font-weight: 600;
}

.Details {
  max-height: auto;
  margin: 10px 0 20px;
  background: white;
  padding: 20px 20px 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  overflow: hidden;
  font-size: 14px;
  position: relative;
}
.Details-add {
  text-align: center;
  font-size: 23px;
  margin-top: 11px;
}
.Details-wrap {
  background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  padding: 100px 100px 16px;
}
.Details-tittle {
  font-size: 18px;
  color: black;
  font-weight: 700;
}
.Details-table {
  margin-top: 40px;
  margin-bottom: 30px;
}
.Details-table col {
  width: 66%;
}
.Details-label {
  text-align: start;
  color: gray;
  font-weight: 400;
  font-size: 15px;
}
.Details-label, .Details td {
  padding: 5px 0;
}
.Details-content {
  line-height: 1.6;
}
.Details-btn {
  min-width: 210px;
  max-width: 210px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 105px);
  border: 3px solid #c92127;
  outline: none;
  font-weight: 700;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 65px;
  background: white;
  color: #c92127;
  z-index: 2;
  cursor: pointer;
}
.Details-gardient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  width: 100%;
  height: 200px;
}
.Details.mh7 {
  max-height: 700px;
}

.Form {
  height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  display: flex;
}
.Form form {
  margin-left: 90px;
  flex: 1;
}
.Form form button {
  margin-top: 6px;
  padding: 0 30px 0 30px;
  color: white;
  font-weight: 800;
  background: #57b846;
}
.Form-Inp {
  color: #666;
  background: #e6e6e6;
  padding: 0 30px 0 68px;
  margin-bottom: 10px;
}
.Form-infor {
  display: flex;
  gap: 10px;
}
.Form-infor-inp {
  padding: 0 20px 0 20px;
}
.Form .wrap {
  margin: auto;
  border-radius: 10px;
  height: 75%;
  width: 60%;
  background: white;
  padding: 140px 90px;
  display: flex;
}
.Form-wrong {
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
}
.Form-img {
  flex: 1;
}
.Form-wrap {
  display: flex;
}
.Form-wrap p {
  display: inline-block;
  text-align: center;
  margin: 20px auto auto;
  cursor: pointer;
}
.Form-wrap p a {
  color: blue;
  font-size: 14px;
}
.Form-tittle {
  font-size: 27px;
  color: black;
  font-weight: 600;
  margin-bottom: 50px;
  border-radius: 25px;
  text-align: center;
}
.Form-btnIp, .Form-Inp {
  outline: none;
  border: none;
  font-size: 15px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
}
.Form-wrapIp {
  position: relative;
}
.Form-wrapIp i {
  color: gray;
  top: calc(50% - 17px);
  position: absolute;
  left: 8%;
  font-size: 26px;
}
.Form-wrapIp .lock {
  font-size: 21px;
  left: 9%;
}

.Cart-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 50%;
  right: calc(50% - 50px);
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
}
.Cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Cart-empty p {
  margin: 10px 0 20px;
}
.Cart-img {
  width: 16%;
}
.Cart-wrap {
  padding: 100px 100px 20px;
  background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.Cart-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin-top: 20px;
  padding: 20px 30px;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  display: flex;
  justify-content: space-between;
}
.Cart-footer .footer-del {
  background: none;
  margin-left: 30px;
  font-size: 17px;
}
.Cart-buy {
  font-size: 17px;
  background: #c92127;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}
.Cart-right {
  display: flex;
  gap: 100px;
}
.Cart-right-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Cart-header {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  display: flex;
  justify-content: space-between;
}
.Cart-btn {
  display: flex;
  align-items: center;
}
.Cart-btn input {
  margin-right: 15px;
}
.Cart-tittle {
  display: flex;
  gap: 90px;
}
.Cart-Products {
  background: white;
  margin-top: 20px;
  padding: 20px 16px;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1% 57% auto;
  padding: 10px;
  border: 1px solid gray;
}
.Cart-itemDes {
  display: flex;
  align-items: center;
}
.Cart-itemImg {
  width: 8%;
}
.Cart-itemWrap {
  display: grid;
  grid-template-columns: 12% 19% 18% 8%;
  grid-gap: 72px;
}
.Cart-itemWrap button {
  background: none;
  border: none;
  cursor: pointer;
}
.Cart-inp {
  display: flex;
}
.Cart-inp input {
  width: 70%;
}
.Cart-label {
  padding: 5px 8px;
  background: rgba(128, 128, 128, 0.27);
}

.Admin {
  padding: 100px 100px 40px;
  background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  position: relative;
}
.Admin-pag {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.Admin-pag * {
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
}
.Admin-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 600px;
  overflow: auto;
  gap: 10px;
  position: fixed;
  padding: 40px;
  border-radius: 10px;
  top: calc(50% - 250px);
  left: calc(50% - 200px);
  background: white;
  box-shadow: 0 0 20px gray;
  color: #666666;
}
.Admin-modal-item {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border-bottom: 1px solid gray;
  padding: 15px 0;
  max-width: 400px;
}
.Admin-modal-item .name {
  width: 300px;
}
.Admin-modal-close {
  width: 100%;
  text-align: end;
  font-size: 18px;
}
.Admin-modal-close i:hover {
  cursor: pointer;
  color: #6C5DD3;
}
.Admin-modal-list {
  display: flex;
  flex-direction: column;
}
.Admin-modal-img {
  width: 40%;
}
.Admin-modal-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.Admin-modal-btn .update, .Admin-modal-btn .cancel {
  padding: 10px 20px;
  border-radius: 7px;
  background: none;
  border: 2px solid #c92127;
  font-weight: 700;
}
.Admin-modal-btn .update {
  background: #c92127;
  color: white;
  font-size: 13px;
}
.Admin-modal-btn .cancel {
  color: #c92127;
}
.Admin-header {
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 22%) 8%;
  grid-gap: 10px;
}
.Admin-select {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}
.Admin-select * {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.Admin-List {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
  background: white;
}
.Admin-Item {
  display: grid;
  grid-template-columns: repeat(4, 22%) 8%;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 5px;
}
.Admin-product {
  display: flex;
  align-items: center;
}
.Admin-img {
  flex: 1;
}
.Admin-name {
  flex: 3;
}
.Admin-btn {
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
}
.Admin .delete {
  color: #c92127;
}
.Admin .delete, .Admin .edit {
  font-size: 18px;
}
.Admin button {
  background: none;
}
.Admin-active {
  background: #6C5DD3;
}

.Account {
  padding: 70px 100px 20px;
}
.Account .avatar {
  width: 0;
}
.Account .label-avatar {
  cursor: pointer;
  position: absolute;
  width: 100%;
  border-radius: 100%;
  top: calc(50% - 35px);
  background: #0000002b;
  height: 100%;
}
.Account .label-avatar img {
  object-fit: contain;
}
.Account-name {
  background: none;
  border: none;
}
.Account-wrap {
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
}
.Account-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
}
.Account-tittle h2 {
  font-size: 19px;
  margin-top: 20px;
}
.Account-ItemInfor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.Account-ItemInfor h3 {
  font-size: 16px;
}
.Account-ItemInfor * {
  font-size: 14px;
}
.Account-btn {
  border: 1px solid gray;
  padding: 8px 20px;
  border-radius: 50px;
}
.Account-btn-update {
  display: flex;
  gap: 10px;
}
.Account-btn-update * {
  background: none;
  padding: 10px 20px;
  border-radius: 50px;
}
.Account-btn-update .save {
  border: 1px solid #1a8917;
  color: #1a8917;
}
.Account-btn-update .cancel {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.54);
}
.Account-btn-update .cancel:hover {
  border-color: rgba(0, 0, 0, 0.54);
}
.Account-left h3 {
  margin-bottom: 10px;
}
.Account-wrapimg {
  display: flex;
}
.Account-wrapimg-img {
  position: relative;
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 200px;
}
.Account-wrapimg-img img {
  object-fit: cover;
  border-radius: 100%;
  height: 100%;
}

.modalConfirm {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.26);
}
.modalConfirm-wrap {
  background: white;
  padding: 45px 90px;
  border-radius: 10px;
}
.modalConfirm-btn {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.modalConfirm-btn * {
  padding: 13px 25px;
  border-radius: 10px;
  font-weight: 900;
}
.modalConfirm-btn .confirm {
  background: #c91217;
  color: white;
}
.modalConfirm-btn .unConfirm {
  border: 1px solid #c91217;
  color: #c91217;
}

.Admin-fullname {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Admin-fullname p {
  max-width: 140px;
}
.Admin-fullname .Users-img {
  height: 35px;
  width: 35px;
}
.Admin-fullname .Users-img img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.ModalUpdate {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.267);
}
.ModalUpdate .close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.ModalUpdate-img {
  width: 70px;
  margin: 25px auto 0;
  height: 70px;
}
.ModalUpdate-img img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ModalUpdate-wrap {
  max-height: 600px;
  padding: 40px;
  border-radius: 10px;
  background: white;
}
.ModalUpdate-col2 {
  margin-bottom: 25px;
}
.ModalUpdate-col2 .item {
  border-bottom: 1px solid gray;
  padding: 25px 0;
}
.ModalUpdate-col2 .flex {
  display: flex;
  gap: 10px;
}
.ModalUpdate-col2 .flex input {
  flex: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type=number] input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Load {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  background: #00000021;
  height: 100vh;
  align-items: center;
}
.Load div {
  transform: scale(0.15);
  height: auto !important;
}

.Page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.267);
}

/*# sourceMappingURL=style.css.map */
